<div class="book">
    <div class="h4" id="cat{{@../index}}book{{@index}}" tabindex="-1">{{title}}</div>
    {{#if html}}<a aria-labelledby="cat{{@../index}}book{{@index}} cat{{@../index}}book{{@index}}html" href="{{html}}"><span id="cat{{@../index}}book{{@index}}html">HTML</span></a>{{/if}}
    {{#if pdf}}<a aria-labelledby="cat{{@../index}}book{{@index}} cat{{@../index}}book{{@index}}pdf" href="{{pdf}}"><span id="cat{{@../index}}book{{@index}}pdf">PDF</span></a>{{/if}}
    {{#if epub}}<a aria-labelledby="cat{{@../index}}book{{@index}} cat{{@../index}}book{{@index}}epub" href="{{epub}}"><span id="cat{{@../index}}book{{@index}}epub">ePub</span></a>{{/if}}
    {{#if mobi}}<a aria-labelledby="cat{{@../index}}book{{@index}} cat{{@../index}}book{{@index}}mobi" href="{{mobi}}"><span id="cat{{@../index}}book{{@index}}mobi">Mobi</span></a>{{/if}}
    {{#if description}}
        <a role="button" aria-labelledby="cat{{@../index}}book{{@index}} cat{{@../index}}book{{@index}}description" data-toggle="collapse" href="#cat{{@../index}}book{{@index}}Collapse" aria-expanded="false" aria-controls="cat{{@../index}}book{{@index}}Collapse"><span tabindex="-1" id="cat{{@../index}}book{{@index}}description">Show Details</span></a>
    {{/if}}
    <div class="clearfix"></div>
    {{#if description}}
        <div id="cat{{@../index}}book{{@index}}Collapse" class="collapse">
             <div class="well well-sm">{{{description}}}</div>
        </div>
    {{/if}}
</div>