<div class="ohc-grid">
	<div role="banner">
		<div>
            <a href="#" class="offscreen skipto-top skipto">Skip to main content</a>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">
							<span class="ohc-logo" role="img" aria-label="Oracle Help Center"></span>
						</a>
					</div>

					<div class="collapse navbar-collapse" id="navbar-collapse-1">

                        <p class="navbar-text navbar-right logged-in-content hidden"><span class="append-firstname-greeting"></span> <a class="logout-link" href="#">Sign Out</a></p>
                        <p class="navbar-text navbar-right logged-out-content hidden"><a class="login-link" href="#"><i class="fa fa-user"></i> Sign In</a></p>

						<ul class="nav navbar-nav visible-xs-block"></ul>

					</div>
				</div>
			</nav>
		</div>
	</div>

	<header>
		<div>
		<h1>{{{title}}}</h1>
		</div>
	</header>

	<main>
		<div>
			<div class="ohc-grid">
				<div>
					<div class="ohc-menu-controls hidden-xs" role="tabpanel">
						<nav>
							<ul class="nav nav-pills nav-stacked" role="tablist">
								{{#if tabtoc}}
                                <li class="ohc-menu-control-item active" >
									<a href="#tab-toc" role="button" aria-label="Table of Contents"  class="opener" title="Table of Contents" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-list"></span>
										<span class="ohc-navpill">Table of Contents</span>
									</a>
								</li>
                {{/if}}
								{{#if tabsearch}}
								<li class="ohc-menu-control-item" >
									<a href="#tab-search" role="button" aria-label="Search options" class="opener" title="Search" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-search"></span>
										<span class="ohc-navpill">Search</span>
									</a>
								</li>
								{{/if}}
								{{#if tabprint}}
								<li class="ohc-menu-control-item" >
									<a href="#tab-print" role="button" aria-label="Print options"  class="opener" title="Print" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-print"></span>
										<span class="ohc-navpill">Print</span>
									</a>
								</li>
								{{/if}}
								{{#if tabdownload}}
								<li class="ohc-menu-control-item" >
									<a href="#tab-download" role="button" aria-label="Download options" class="opener" title="Download" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-download"></span>
										<span class="ohc-navpill">Download</span>
									</a>
								</li>
								{{/if}}
								{{#if tabshare}}
								<li class="ohc-menu-control-item" >
									<a href="#tab-share" role="button" aria-label="Social media options" class="opener" title="Share" data-toggle="tooltip" data-placement="right" >
										<span class="hidden-xs fa fa-share-alt"></span>
										<span class="ohc-navpill">Share</span>
									</a>
								</li>
								{{/if}}
							</ul>
						</nav>
					</div>

					<div class="ohc-menu hidden-print tab-content ">
            {{#if tabtoc}}
						<div role="tabpanel" class="tab-pane fade active in" id="tab-toc">
							{{{tabtoc}}}
						</div>
            {{/if}}
						{{#if tabsearch}}
						<div role="tabpanel" class="tab-pane fade" id="tab-search">
							<h2>Search</h2>
							<form id="search-form" action="/apps/search/search.jsp" method="GET" target="_blank">
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="q" class="form-control" id="search-query" aria-label="Search Query Field" placeholder="Search for...">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-primary" aria-label="Submit Search Query">
												<span class="fa fa-search" aria-hidden="true"></span>
												<span class="sr-only">Search</span>
											</button>
										</span>
									</div>
								</div>
								{{#if book}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-book" value="book">
									<label for="search-scope-book">Search this book</label>
								</div>
								{{/if}}
								{{#if product}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-product" value="product">
									<label for="search-scope-product">Search this product</label>
								</div>
								{{/if}}
                {{#if category}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-category" value="category">
									<label for="search-scope-category">Search this category</label>
								</div>
								{{/if}}
								<div class="radio">
									<input type="radio" name="search-scope" id="search-scope-all" value="all">
									<label for="search-scope-all">Search All Documentation</label>
								</div>
							</form>
						</div>
						{{/if}}
						{{#if tabprint}}
						<div role="tabpanel" class="tab-pane fade" id="tab-print">
							<h2>Print</h2>
							<button class="btn btn-primary" onclick="window.print()">Print this page</button>
						</div>
						{{/if}}
						{{#if tabdownload}}
						<div role="tabpanel" class="tab-pane fade" id="tab-download">
							<h2>Download</h2>
							{{#each tabdownload}}
								{{#if_eq type "application/pdf"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">PDF</a> for offline and print</p>{{/if_eq}}
								{{#if_eq type "application/x-mobipocket-ebook"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">Mobi</a> for Amazon Kindle</p>{{/if_eq}}
								{{#if_eq type "application/epub+zip"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">ePub</a> for most mobile devices</p>{{/if_eq}}
								{{#if_eq type "application/swagger+json"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">Swagger</a> for Swagger clients</p>{{/if_eq}}
								{{#if_eq type "application/json"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">JSON</a></p>{{/if_eq}}
								{{#if_eq type "application/xml"}}<p><a class="btn btn-primary" title={{title}} target="_blank" href="{{{href}}}">XML</a></p>{{/if_eq}}
							{{/each}}
						</div>
						{{/if}}
						{{#if tabshare}}
						<div role="tabpanel" class="tab-pane fade" id="tab-share">
							<h2>Share this page</h2>
							<div id="share-buttons">
								<a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2Fdocs.oracle.com&amp;pubid=ra-552992c80ef99c8d&amp;ct=1&amp;title=Oracle%20Help%20Center&amp;pco=tbxnj-1.0" target="_blank"><span class="fa-stack fa-2x" aria-hidden="true"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span><span class="sr-only">Facebook</span></a>
								<a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=http%3A%2F%2Fdocs.oracle.com&amp;pubid=ra-552992c80ef99c8d&amp;ct=1&amp;title=Oracle%20Help%20Center&amp;pco=tbxnj-1.0" target="_blank"><span class="fa-stack fa-2x" aria-hidden="true"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span><span class="sr-only">Twitter</span></a>
								<a href="https://api.addthis.com/oexchange/0.8/forward/email/offer?url=http%3A%2F%2Fdocs.oracle.com&amp;pubid=ra-552992c80ef99c8d&amp;ct=1&amp;title=Oracle%20Help%20Center&amp;pco=tbxnj-1.0" target="_blank"><span class="fa-stack fa-2x" aria-hidden="true"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x"></i></span><span class="sr-only">Email</span></a>
								<a href="https://www.addthis.com/bookmark.php?source=tbx32nj-1.0&amp;v=300&amp;url=http%3A%2F%2Fdocs.oracle.com&amp;pubid=ra-552992c80ef99c8d&amp;ct=1&amp;title=Oracle%20Help%20Center&amp;pco=tbxnj-1.0" target="_blank"><span class="fa-stack fa-2x" aria-hidden="true"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-plus fa-stack-1x"></i></span></a>
							</div>
						</div>
						{{/if}}
					</div>

					<article role="main">{{{article}}}</article>

					<div><div><!-- resizable column --></div></div>
				</div>
			</div>
		</div>
	</main>
	<a href="#" class="offscreen skipto-bottom skipto">Back to main content</a>

	<footer>
		<div>
			<div class="container">
				<div class="pull-left footer-left">
					<ul class="footer-nav list-inline">
							<li><a href="{{i18n 'https://www.oracle.com/corporate/'}}">{{i18n 'About Oracle'}}</a></li>
							<li><a href="{{i18n 'https://www.oracle.com/corporate/contact/'}}">{{i18n 'Contact Us'}}</a></li>
							<li><a href="{{i18n 'https://www.oracle.com/legal/privacy/'}}">{{i18n 'Terms of Use and Privacy'}}</a></li>
							<li><div id="teconsent" style="display: inline-block;"></div></li>{{#if_mt}}
							<li class="hidden"><a class="visible-xs-inline" target="_blank" href="{{i18n 'translation-survey'}}">{{i18n 'Machine Translation Feedback'}}</a><a class="hidden-xs" href="#" onclick="window.open('{{i18n 'translation-survey'}}', '{{i18n 'Machine Translation Feeback Form'}}', 'width=600,height=480');">{{i18n 'Machine Translation Feedback'}}</a></li>{{/if_mt}}
					</ul>
					<span class="copyright"><a href="{{i18n 'https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=cpyr'}}">{{i18n 'Copyright'}} &copy; {{copyright}}, {{i18n 'Oracle and/or its affiliates.'}}</a><a></a></span>
				</div>
			</div>
		</div>
	</footer>
</div>

<nav class="ohc-pager hidden-print hidden">
	<ul class="pager">
		<li class="previous disabled">
			<a role="button" class="btn" aria-label="Previous" aria-hidden="true">
				<span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
			</a>
		</li>
		<li class="next disabled">
			<a role="button" class="btn" aria-label="Next" aria-hidden="true">
				<span class="fa fa-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
