<div class="page-container">
    <div id="banner2" role="banner">
        <div>
            <a href="#" class="offscreen skipto-top skipto">{{i18n 'Skip to main content'}}</a>
            <nav class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">
                        <a class="navbar-left" href="/">
                            <span class="ohc-logo" role="img" aria-label="Oracle Help Center"></span>
                        </a>
                        <button id="navbar-menu-button" type="button" class="visible-xs-block pull-right collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="false" aria-controls="navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars fa-2x fa-fw"></i>
                        </button>
                    </div>

                    <form id="banner-search" class="solution-search-form form-inline hidden-xs pull-right" target="_blank" action="https://docs.oracle.com/apps/search/search.jsp" method="get">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" aria-label="Search Query Field" placeholder="{{i18n 'Search Solutions'}}">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-chevron-down" aria-hidden="true"></span><span class="sr-only">{{i18n 'Options'}}</span></button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-label="Search Options">
                                    <li><label><input type="radio" name="search-options" value="solutions" checked="checked"> {{i18n 'Search Solutions'}}</label></li>
                                    <li><label><input type="radio" name="search-options" value="ohc"> {{i18n 'Search Help Center'}}</label></li>
                                </ul>

                                <button type="submit" class="btn btn-default" aria-label="Submit Search Query">
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                    <span class="sr-only">{{i18n 'Search'}}</span>
                                </button>
                            </span>
                            </div>
                        </div>
                        <input type="hidden" name="category" value="all">
                    </form>


                    <span class="hidden-xs navbar-text pull-right logged-in-content hidden">
                        <span role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Expand menu">
                                <span class="append-firstname-greeting"></span> <span class="caret" aria-hidden="true"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-hidden="true" aria-label="user menu">
                                <ul class="cleanList">
                                    <li><a class="logout-link" href="#">{{i18n 'Sign Out'}}</a></li>
                                </ul>
                            </div>
                        </span>
                    </span>
                    <span class="hidden-xs navbar-text pull-right logged-out-content hidden"><a class="login-link" href="#"><i class="fa fa-user"></i> {{i18n 'Sign In'}}</a></span>

                    <div class="collapse" id="navbar-collapse-2" aria-expanded="false">
                        <ul class="nav nav-pills nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#sitemap-tab" role="tab" data-toggle="tab" aria-controls="sitemap-tab" aria-expanded="true"><i class="fa fa-th-large fa-2x" aria-hidden="true"></i><span class="sr-only">Open Sitemap</span></a></li>
                            <li role="presentation" class=""><a href="#search-tab" role="tab" data-toggle="tab" aria-controls="search-tab" aria-expanded="false"><i class="fa fa-search fa-2x" aria-hidden="true"></i><span class="sr-only">Open Search</span></a></li>
                            <li role="presentation" class=""><a href="#user-tab" role="tab" data-toggle="tab" aria-controls="user-tab" aria-expanded="false"><i class="fa fa-user fa-2x" aria-hidden="true"></i><span class="sr-only">Open Account Settings</span></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div id="mobile-tabs" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="sitemap-tab">
                                <h2>{{{title}}}</h2>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="search-tab">
                                <h2>{{i18n 'Search'}}</h2>
                                <form class="solution-search-form" target="_blank" action="https://docs.oracle.com/apps/search/search.jsp" method="get">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="q" type="text" class="form-control" aria-label="Search Query Field" placeholder="{{i18n 'Search Solutions'}}">
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-chevron-down" aria-hidden="true"></span><span class="sr-only">{{i18n 'Options'}}</span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-label="Search Options">
                                                <li><label><input type="radio" name="search-options2" value="solutions" checked="checked"> {{i18n 'Search Solutions'}}</label></li>
                                                <li><label><input type="radio" name="search-options2" value="ohc"> {{i18n 'Search Help Center'}}</label></li>
                                            </ul>

                                            <button type="submit" class="btn btn-default" aria-label="Submit Search Query">
                                                <span class="fa fa-search" aria-hidden="true"></span>
                                                <span class="sr-only">{{i18n 'Search'}}</span>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="category" value="all">
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="user-tab">
                                <div class="logged-in-content hidden">
                                <h2>Oracle Account</h2>
                                <p class="text-center"><span class="append-firstname-greeting">{{i18n 'Welcome'}} </span></p>
                                <p class="text-center"><a class="logout-link btn" href="#">{{i18n 'Sign Out'}}</a></p>
                                <p class="text-center"><a onclick="this.href=this.href+'?nexturl='+window.location.href" href="https://profile.oracle.com/myprofile/account/secure/update-account.jspx">Account</a> | <a href="https://www.oracle.com/corporate/contact/help.html">Help</a></p>
                                <hr/>
                                </div>
                                <div class="logged-out-content hidden">
                                <h2>Oracle Account</h2>
                                <p class="text-center >
                                    <a class="login-link btn" href="#">{{i18n 'Sign In'}}</a>
                                </p>
                                <hr>
                                </div>
                                <h2>Cloud Account</h2>
                                <p class="text-center">Access your cloud dashboard, manage orders, and more.</p>
                                <p class="text-center"><a class="btn" href="https://cloud.oracle.com/sign-in">{{i18n 'Sign In'}}</a><p>
                                <p class="text-center"><a href="https://cloud.oracle.com/tryit?intcmp=ohc-header">Sign Up - Free Trial</a></p>
                            </div>
                        </div>


                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div id="hero-blue">
        <div class="container">
            <!-- <img class="pull-right hidden-xs hidden-sm" src="/en/dcommon/img/4-cloud.png" alt="" aria-hidden="true"> -->
            {{#if_inspired}}
            <div class="row">
              <div class="col-lg-9"><h1>{{{title}}}</h1></div>
              <div class="col-lg-3"><span class="winspired">{{i18n 'CUSTOMER-INSPIRED'}}</span></div>
            </div>
            {{else}}
            <h1>{{{title}}}</h1>
            {{/if_inspired}}
        </div>
    </div>



    <main class="container">
    <div id="content-row" class="row">

        <div id="fixed-menu" class="col-md-4 col-xl-3 hidden-sm hidden-print">
                <div style="margin-top: 16px; margin-bottom: 16px;">
                    <a id="solutions-back-link" href="/{{i18n 'dir'}}/solutions/solutions.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{i18n 'Back to Solutions'}}</a>
                </div>
                {{#if_mt}}<p class="text-center"><b>{{i18n 'This page was machine translated.'}}</b></p>{{/if_mt}}
                <div id="tab-toc">
                    <p class="text-center">
                        <span class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </p>
                </div>
                {{#if tabdownload}}
                <ul class="list-inline text-right hidden-xs" style="margin-top:16px;">{{#each tabdownload}}<!--
                 -->{{#if_eq type "application/pdf"}}<li><a aria-label="{{title}} PDF" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-pdf-o" aria-hidden="true" title="PDF"></i><span class="sr-only">PDF</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/x-mobipocket-ebook"}}<li><a aria-label="{{title}} Mobi" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-text-o" aria-hidden="true" title="Mobi"></i><span class="sr-only">Mobi</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/epub+zip"}}<li><a aria-label="{{title}} ePub" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-text-o" aria-hidden="true" title="ePub"></i><span class="sr-only">ePub</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/swagger+json"}}<li><a aria-label="{{title}} Swagger" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-o" aria-hidden="true" title="Swagger"></i><span class="sr-only">Swagger</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/json"}}<li><a aria-label="{{title}} JSON" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-o" aria-hidden="true" title="JSON"></i><span class="sr-only">JSON</span></a></li>{{/if_eq}}<!--
                 -->{{#if_eq type "application/xml"}}<li><a aria-label="{{title}} XML" target="_blank" href="{{{href}}}"><i class="fa fa-2x fa-file-code-o" aria-hidden="true" title="XML"></i><span class="sr-only">XML</span></a></li>{{/if_eq}}<!--
                 -->{{/each}}</ul>
                {{/if}}
        </div>

        <div class="col-md-8 col-xl-9">
            <article role="main">{{{article}}}</article>{{#if disclaimers}}
            <div id="disclaimers">{{{disclaimers}}}</div>{{/if}}
            <footer class="text-center">
                <ul class="footer-nav list-inline">
                    <li><a href="{{i18n 'https://www.oracle.com/corporate/'}}">{{i18n 'About Oracle'}}</a></li>
                    <li><a href="{{i18n 'https://www.oracle.com/corporate/contact/'}}">{{i18n 'Contact Us'}}</a></li>
                    <li><a href="{{i18n 'https://www.oracle.com/legal/privacy/'}}">{{i18n 'Terms of Use and Privacy'}}</a></li>
                    <li><div id="teconsent" style="display: inline-block;"></div></li>{{#if_mt}}
                    <li class="hidden"><a class="visible-xs-inline" target="_blank" href="{{i18n 'translation-survey'}}">{{i18n 'Machine Translation Feedback'}}</a><a class="hidden-xs" href="#" onclick="window.open('{{i18n 'translation-survey'}}', '{{i18n 'Machine Translation Feeback Form'}}', 'width=600,height=480');">{{i18n 'Machine Translation Feedback'}}</a></li>{{/if_mt}}
                </ul>
                <span class="copyright"><a href="{{i18n 'https://docs.oracle.com/pls/topic/lookup?ctx=en/legal&id=cpyr'}}">{{i18n 'Copyright'}} &copy; {{copyright}}, {{i18n 'Oracle and/or its affiliates.'}}</a><a></a></span>
            </footer>
        </div>
    </div>
    </main>

    <a href="#" class="offscreen skipto-bottom skipto">{{i18n 'Back to main content'}}</a>

</div>

<nav class="ohc-pager hidden-print hidden">
	<ul class="pager">
		<li class="previous disabled">
			<a role="button" class="btn" aria-label="{{i18n 'Previous'}}" aria-hidden="true">
				<span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">{{i18n 'Previous'}}</span>
			</a>
		</li>
        <li class="toc visible-sm-inline">
            <a role="button" class="btn" aria-label="{{i18n 'Table of contents'}}" href="toc.htm">
                <span class="fa fa-list-alt" aria-hidden="true"></span><span class="sr-only">{{i18n 'Table of contents'}}</span>
            </a>
        </li>
		<li class="next disabled">
			<a role="button" class="btn" aria-label="{{i18n 'Next'}}" aria-hidden="true">
				<span class="fa fa-chevron-right" aria-hidden="true"></span><span class="sr-only">{{i18n 'Next'}}</span>
			</a>
		</li>
	</ul>
</nav>
