<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="video-thumbnail">
    <a class="embed-responsive embed-responsive-16by9" href="{{href}}" target="_blank" title="{{title}}" {{#if embed}}data-embed="{{embed}}"{{/if}}>
      <img class="embed-responsive-item" src="{{thumbnail}}" alt="{{title}} video thumbnail">
      <div class="overlay embed-responsive-item"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></div>
    </a>
    <div class="caption">
      {{#if featured}}<span class="pull-left label label-default">Featured</span>{{/if}}
      {{#if recent}}<span class="pull-left label label-default">New</span>{{/if}}
      {{#if date}}<span class="pull-right">{{date}}</span>{{/if}}
      <h3>{{title}}</h3>
      {{#if description}}<div>{{{description}}}</div>{{/if}}
    </div>
  </div>
</div>